<h2 class="text-center">Login</h2>
<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="doLogin()"
  title="Login"
>
  <div class="form-group row">
    <div class="col-md-4">
      <label for="loginEmail">Email</label>
    </div>
    <div class="col-md-8">
      <input
        type="email"
        name="loginEmail"
        class="form-control"
        placeholder="Enter email address"
        formControlName="loginEmail"
      />
      <span
        class="login-form-error"
        id="loginEmailError"
        *ngIf="
          loginForm.get('loginEmail').errors?.hasOwnProperty('required') &&
          loginForm.get('loginEmail').touched
        "
        >Email field is required</span
      >
      <span
        class="login-form-error"
        id="loginEmailError"
        *ngIf="
          loginForm.get('loginEmail').errors?.hasOwnProperty('email') &&
          loginForm.get('loginEmail').touched
        "
        >Please enter a valid email</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="loginPassword">Password</label>
    </div>
    <div class="col-md-8">
      <input
        type="password"
        name="loginPassword"
        class="form-control"
        placeholder="Enter password"
        formControlName="loginPassword"
      />
      <span
        class="login-form-error"
        id="loginPasswordError"
        *ngIf="
          loginForm.get('loginPassword').errors?.hasOwnProperty('required') &&
          loginForm.get('loginPassword').touched
        "
        >Password field is required</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <button
        type="submit"
        class="btn btn-primary center"
        [disabled]="!loginForm.valid"
      >
        Log me In!
      </button>
    </div>
  </div>
</form>
