<h1 class="home-header">Caregiver Tracker</h1>
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand ml-2" href="http://srivatsanssr.com/index.html"
    >Portfolio Home</a
  >
  <a class="navbar-brand ml-2" [routerLink]="['/home']">Caregiver Tracker</a>
</nav>
<div class="main-container">
  <div
    class="sign-up-container container text-left bg-light bg-gradient shadow"
  >
    <app-signup></app-signup>
  </div>
  <div class="login-container container text-left bg-light bg-gradient shadow">
    <app-login></app-login>
  </div>
</div>
