.home-header {
  text-align: center;
  margin-top: 2%;
}

section:nth-child(odd) p {
  padding-left: 20%;
  padding-right: 5%;
}

section:nth-child(even) p {
  padding-left: 5%;
  padding-right: 20%;
}

@media screen and (max-width: 800px) {}