<nav class="navbar">
  <a class="navbar-brand" href="http://srivatsanssr.com/index.html"
    >Portfolio Home</a
  >
  <a class="navbar-brand" [routerLink]="['/home']">Home</a>
  @if(isLoggedIn) {
  <button
    class="navbar-brand"
    (click)="openProfileModal(profileModal)"
  >
    {{ loggedInEmail() }}
  </button>
    <button class="navbar-brand" (click)="doLogout()">
    Logout
  </button>
  } @else {
    <button
      class="navbar-brand"
      (click)="openSignupModal(signupModal)"
    >
      Sign Up
    </button>
    <button
      class="navbar-brand"
      (click)="openLoginModal(loginModal)"
    >
      Login
    </button>
  }

  <a class="navbar-brand" href="#">Environment: {{ envName }}</a>

</nav>

<ng-template #signupModal>
 <app-signup (closeModal)="modal.dismissAll()"></app-signup>
</ng-template>

<ng-template #loginModal>
  <app-login (closeModal)="modal.dismissAll()"></app-login>
</ng-template>

<ng-template #profileModal>
  <div class="modal-header">
    <h3 class="modal-title centre">Signup</h3>
  </div>
  <div class="modal-body"></div>
</ng-template>
