.home-header {
    width: 100%;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-style: oblique;
    font-variant: small-caps;
    font-stretch: expanded;
    background-color: cornsilk;
    color: rebeccapurple;
    text-align: center;
}
.navbar {
    display: flex;
    background-color: deepskyblue;
    justify-content: flex-end;
}

.navbar button {
    background-color: deepskyblue;
    border: none;
}

.navbar button:hover {
    background-color: lightskyblue;
    border: 1px;
}

label {
    display: inline-block;
    max-width: 70%;
    padding: 2%;
    justify-content: right;
}

input {
    display: inline-block;
    width: 100%;
    max-width: 90%;
    margin: 2%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.add-verify {
    width: 15%;
}

.signup-form-error {
    display: block;
    padding-left: 5%;
    color: red;
}

modal-footer {
    width: 100%;
    max-width: 100%;
}

modal-footer button {
    display: inline-block;
    margin: 0;
    width: 20%;
}
