.feeding-container {
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 3%;
    min-width: 800px;
    min-height: 600px;
    width: 60%;
    height: 90%;
    background-color: lavender;
    overflow: hidden;
}

.btn-add-feed {
    text-align: center;
    align-self: center;
    margin: 3%;
}

.modal-footer {
    justify-content: center;
}

li.feed-per-date {
    list-style-type: none;
    padding-bottom: 1%;
    display: block;
}

li.tracked-feed-timeline {
    list-style-type: none;
    padding-bottom: 1%;
}

li.pumped-feed-timeline {
    list-style-type: none;
    padding-left: 5%;
}

.btn-edit-tracked-feed, .btn-delete-tracked-feed {
    background-color: transparent;
    border: 0 transparent;
    display: inline-block;
}