.home-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-tabs {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 900px;
    border: 1 solid blanchedalmond;
}

.nav-outlet {
    margin-top: 2%;
    margin-right: 2%;
    max-width: 900px;
    width: 900px;
}

.home-nav-container {
    flex: 1 0.5;
}

.care-taken-container {
    flex: auto;
    border: 1 solid gainsboro;
}