<app-first-login *ngIf="isFirstLogin; else showTabs"></app-first-login>
<ng-template #showTabs>
  <h1 class="home-header">Caregiver Tracker</h1>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand ml-2" [routerLink]="['/home']">Home</a>
    <button type="button" class="mr-sm-2 btn btn-primary" (click)="doLogout()">
      Logout
    </button>
  </nav>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink> Feeding </a>
      <ng-template ngbNavContent>
        <app-feeding-tracker></app-feeding-tracker>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink> Excretions </a>
      <ng-template ngbNavContent>
        <app-excretion-tracker></app-excretion-tracker>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink> Medicines </a>
      <ng-template ngbNavContent>
        <app-medicine-tracker></app-medicine-tracker>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-template>
