.feedingContainer {
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 3%;
    min-width: 800px;
    min-height: 600px;
    width: 60%;
    height: 90%;
    background-color: lavender;
    overflow: hidden;
}

ul {
    padding: 0;
}

.feedPerDate {
    list-style-type: none;
    padding-bottom: 1%;
    display: block;
    border-bottom: 1px dotted;
}

.feedDate {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    font-size: large;
    font-weight: 400;

}

.trackedFeedTimeline {
    list-style-type: none;
    height: 100%;
}

.pumpedFeedTimeline {
    list-style-type: none;
    padding-left: 5%;
    height: 100%;
}

.pumpedFeed {
    border: 1px solid #ccc;
    background-color: snow;
    display: inline-block;
    height: 70px;
    width: 100%;
    padding: 2.5%;
}

#spinner {
    margin: 20 auto;
}