.ctd-container {
    width: 400px;
    height: 100%;
    background-color: #F1F5F9;


    .ctd-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px;
        border: 1px solid darkblue;
        background-color: #0097b2;
    }
}

.ctd-cards {
    height: 80%;
    margin: 0 auto;
    padding: 2%;
    overflow-y: scroll;
}

.ctd-card {
    display: block;
    width: 80%;
    height: 30%;
    background-color: chocolate;
    border: 1 solid cornsilk;
    border-radius: 5%;
    margin: 5%;
    cursor: pointer;
}

.ctd-card.selected {
    background-color: rgb(37, 156, 230);
    border: 1 solid black;
    cursor: crosshair;
}

.ctd-card-row {
    display: flex;
    justify-content: space-around;
}

.ctd-card-key {
    font-weight: 500;
}

.ctd-card-value {
    font-weight: 300;
}

.ctd-add-btn {
    display: block;
    position: relative;
    top: 50px;
}

.ctd-add-btn button {
    background-color: blueviolet;
    color: azure;
}