<div class="main-container">
    <div class="emp-name">{{ name }}</div>
    <div class="emp-title">{{ title }}</div>
    <div class="emp-email-label">Email: <span>{{ email }}</span></div>
    <div class="emp-mobile-label">Mobile: <span>{{ mobile }}</span></div>
    <div class="emp-summary-container">
        <div class="emp-summary">
            <div class="content">
                <p>{{ summary }}</p>
            </div>
        </div>
    </div>
    @if(showExperienceDetail) {
            <div class="emp-work-experience" (click)="hideDetail()">
                <h3>Experience Detail - {{ workEmployer }}</h3>
                <ul>
                    @for(detail of workExperienceDetail; track detail) {
                        <li>{{ detail }}</li>
                    }
                </ul>
        </div>
        } @else {
            <div class="employer-grid">
                @for(workExp of workExperience; track workExp) {
                    <app-experience-card
                        [employer]="workExp.employer"
                        [designation]="workExp.designation"
                        [dateEmployed]="workExp.dateEmployed"
                        >
                    </app-experience-card>
                }
            </div>
        }
</div>