.main-container {
    position: relative;
    display: inline-block;
}

.main-container img {
    display: block;
    max-width: 100%;
    width: 75vw;
    height: auto;
    border-radius: 8px;
    margin-left: 15%;
    border: 3px solid #ccc;
    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.7),
        inset -2px -2px 4px rgba(0, 0, 0, 0.4),
        3px 3px 6px rgba(0, 0, 0, 0.3);
}

.landing-card {
    position: absolute;
    top: 30%;
    left: 65%;
    width: 65vw;
    transform: translateX(-50%);
    background: rgba(161, 158, 158, 0.3);
    padding: 10px 15px;
    border-radius: 20px;

    p {
        font-size: 2rem;
        font-weight: 500;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        margin: 0;
    }

    button {
        width: 1%;
        height: 2%;
        border-radius: 50%;
        position: relative;
        top: 40%;
        margin-right: 1%;

        &:first-of-type {
            margin-left: 50%;
            margin-bottom: 5%;
        }

        &:not(::first-of-type) {
            display: inline;
            margin-bottom: 5%;
        }
    }
}