.excContainer {
    display: block;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 3%;
    min-width: 800px;
    min-height: 600px;
    width: 60%;
    height: 90%;
    background-color: rgb(195, 191, 93);
    overflow: hidden;
}

ul {
    padding: 0;
}

.excPerDate {
    list-style-type: none;
    padding-bottom: 1%;
    display: block;
    border-bottom: 1px dotted;
}

.excDate {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    font-size: large;
    font-weight: 400;

}

.trackedExcTimeline {
    list-style-type: none;
    height: 100%;
}