.signupLabel {
    padding: 10px;
    grid-column: 1 / 2;
}

.signupField {
    padding: 10px;
    grid-column: 2 / 3;
    height: 50px;
}

.signUpEmail {
    grid-row: 1 / 2;
}

.signUpPassword {
    grid-row: 2 / 3;
}

.signUpRepeatPassword {
    grid-row: 3 / 4;
}

.signUpFullName {
    grid-row: 4 / 5;
}

.signUpAddVerify {
    grid-row: 5 / 6;
}
