<h2 class="text-center">Signup</h2>
<form
  class="sign-up-form"
  [formGroup]="signUpForm"
  (ngSubmit)="doSignUp()"
  title="Signup"
>
  <div class="form-group row">
    <div class="col-md-4">
      <label for="signUpEmail">Email</label>
    </div>
    <div class="col-md-8">
      <input
        type="email"
        name="signUpEmail"
        class="form-control"
        placeholder="Enter email address"
        formControlName="signUpEmail"
      />
      <span
        class="signup-form-error"
        id="signUpEmailError"
        *ngIf="
          signUpForm.get('signUpEmail').errors?.hasOwnProperty('required') &&
          signUpForm.get('signUpEmail').touched
        "
        >Email field is required</span
      >
      <span
        class="signup-form-error"
        id="signUpEmailError"
        *ngIf="
          signUpForm.get('signUpEmail').errors?.hasOwnProperty('email') &&
          signUpForm.get('signUpEmail').touched
        "
        >Please enter a valid email</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="signUpPassword">Password</label>
    </div>
    <div class="col-md-8">
      <input
        type="password"
        name="signUpPassword"
        class="form-control"
        placeholder="Enter password"
        formControlName="signUpPassword"
      />
      <span
        class="signup-form-error"
        id="signUpPasswordError"
        *ngIf="
          signUpForm.get('signUpPassword').errors?.hasOwnProperty('required') &&
          signUpForm.get('signUpPassword').touched
        "
        >Password field is required</span
      >
      <span
        class="signup-form-error"
        id="signUpPasswordError"
        *ngIf="
          !isSignupPasswordOk() &&
          signUpForm.get('signUpPassword').touched &&
          signUpForm.get('signUpPassword').value != ''
        "
        >Password should have atleast one uppercase, lowercase, number and
        special character</span
      >
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <label for="signUpRepeatPassword">Repeat Password</label>
    </div>
    <div class="col-md-8">
      <input
        type="text"
        name="signUpRepeatPassword"
        class="form-control"
        placeholder="Repeat password"
        formControlName="signUpRepeatPassword"
      />
      <span
        class="signup-form-error"
        id="signUpRepeatPasswordError"
        *ngIf="
          signUpForm
            .get('signUpRepeatPassword')
            .errors?.hasOwnProperty('required') &&
          signUpForm.get('signUpRepeatPassword').touched
        "
        >Repeat Password field is required</span
      >
      <span
        class="signup-form-error"
        id="signUpRepeatPasswordError"
        *ngIf="
          signUpForm.get('signUpRepeatPassword').dirty &&
          !isPasswordRepeatPasswordSame()
        "
        >Password and Repeat Password should be the same</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="signUpFullName">Full Name</label>
    </div>
    <div class="col-md-8">
      <input
        type="text"
        name="signUpFullName"
        class="form-control"
        placeholder="Enter full name"
        formControlName="signUpFullName"
      />
      <span
        class="signup-form-error"
        id="signUpFullNameError"
        *ngIf="
          signUpForm.get('signUpFullName').errors?.hasOwnProperty('required') &&
          signUpForm.get('signUpFullName').touched
        "
        >Full Name field is required</span
      >
      <span
        class="signup-form-error"
        id="signUpFullNameError"
        *ngIf="
          !isFullNameOk() &&
          signUpForm.get('signUpFullName').touched &&
          signUpForm.get('signUpFullName').value != ''
        "
        >Full name cannot have number or special characters</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="signUpAddVerify">{{ num1 }} + {{ num2 }} = </label>
    </div>
    <div class="col-md-8">
      <input
        type="text"
        name="signUpAddVerify"
        class="form-control add-verify"
        formControlName="signUpAddVerify"
        size="3"
        maxlength="3"
      />
      <span
        class="signup-form-error"
        id="signUpAddVerifyError"
        *ngIf="
          signUpForm
            .get('signUpAddVerify')
            .errors?.hasOwnProperty('required') &&
          signUpForm.get('signUpAddVerify').touched
        "
        >Adding numbers is required</span
      >
      <span
        class="signup-form-error"
        id="signUpAddVerifyError"
        *ngIf="
          !isAddVerifyOk() &&
          signUpForm.get('signUpAddVerify').touched &&
          signUpForm.get('signUpAddVerify').value != ''
        "
        >Not properly added!</span
      >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <button
        type="submit"
        class="btn btn-primary center"
        [disabled]="signUpForm.status == 'INVALID'"
      >
        Sign me Up!
      </button>
    </div>
  </div>
</form>
