.mainContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  }

  
.tabContainer {
  flex: 1 0.5;
}

.ctdContainer {
  flex: auto;
  background-color: gainsboro;
}
